#heading{
    color: black;
    background-color: white;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 30px black;
}

#header{
 color:turquoise;
 background-color: black;
}

#button{
    color: black;
    background-color: white;
    margin-top: 10px;
    width: 150px;
    height: 40px;
    font-weight: bold;
}